/**
  * @prop --vm-time-color: The color of the text displaying the time.
  */
.timeProgress {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  color: var(--vm-time-color);
}

.separator {
  margin: 0 4px;
}
