vime-spinner {
  /**
   * @prop --spinner-width: The width of the spinner.
   * @prop --spinner-height: The height of the spinner.
   * @prop --spinner-thickness: The thickness of the spinner in px.
   * @prop --spinner-track-color: The color of the track the spinner is rotating in.
   * @prop --spinner-progress-color: The color of the progress within the track.
   * @prop --spinner-spin-duration: How long it takes the spinner to complete a full rotation.
   * @prop --spinner-timing-func: The animation timing function to use for the spin.
   */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: $z-index-spinner;
  display: none;
  @include hidden();
    
  &.enabled {
    display: flex;
  }

  &.active {
    @include visible();
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  & > div {
    background: transparent;
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    pointer-events: none;
    border-top: var(--spinner-thickness, 3px) solid var(--spinner-progress-color, #fff);
    border-left: var(--spinner-thickness, 3px) solid var(--spinner-progress-color, #fff);
    border-right: var(--spinner-thickness, 3px) solid var(--spinner-track-color, $color-white-200);
    border-bottom: var(--spinner-thickness, 3px) solid var(--spinner-track-color, $color-white-200);
    transform: translateZ(0);
    animation: spin var(--spinner-spin-duration, 1.1s) infinite var(--spinner-timing-func, linear);

    &,
    &::after {
      border-radius: 50%;
      width: var(--spinner-width, 80px);
      height: var(--spinner-height, 80px);
    }
  }
}