/**
  * @prop --vm-click-to-play-z-index: The position in the UI z-axis stack inside the player.
  */
:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: var(--vm-click-to-play-z-index);
}

.clickToPlay {
  display: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.clickToPlay.enabled {
  display: inline-block;
  pointer-events: auto;
}
