vime-click-to-play {
  /**
  * @prop --click-to-play-z-index: The position in the UI z-axis stack inside the player.
  */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  display: none;
  z-index: var(--click-to-play-z-index);

  &.enabled {
    display: inline-block;
  }
}