vime-scrim {
  /**
   * @prop --scrim-bg-color: The background color of the scrim.
   */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-scrim;
  background: var(--scrim-bg-color, $color-gray-300);
  display: none;
  pointer-events: none;
  @include hidden();
  
  &.enabled {
    display: inline-block;
  }

  &.active {
    @include visible();
  }
}