vime-scrim {
  /**
   * @prop --scrim-bg: The background color of the scrim.
   */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-scrim;
  background: var(--scrim-bg);
  display: inline-block;
  pointer-events: none;
  @include invisible();
  
  &.hidden {
    display: none;
  }

  &.active {
    @include visible();
  }
}