vime-player[theme="light"] {
  /*******************************
   * Player
   *******************************/

  --vm-player-bg: #fff;
  --vm-player-box-shadow: 0 0 8px 2px var(--vm-color-gray-100);

  /*******************************
   * Slider
   *******************************/

  --vm-slider-track-color: var(--vm-color-gray-100);
  --vm-slider-value-color: var(--vm-player-theme, var(--vm-color-dark));
  --vm-slider-thumb-shadow: 0 0 1px var(--vm-color-gray-100), 0 0 0 1px var(--vm-color-gray-200);
  
  /*******************************
   * Tooltip
   *******************************/

  --vm-tooltip-bg: #fff;
  --vm-tooltip-color: var(--vm-color-dark);
    
  /*******************************
   * Controls
   *******************************/

  --vm-controls-bg: #fff;
      
  /*******************************
   * Control
   *******************************/

  --vm-control-color: var(--vm-color-dark);
  --vm-control-tap-highlight: var(--vm-color-gray-100);
  --vm-control-focus-color: #fff;
  --vm-control-focus-bg: var(--vm-player-theme, var(--vm-color-dark));

  /*******************************
   * Scrubber Control
   *******************************/
  
  --vm-scrubber-buffered-bg: var(--vm-color-gray-100);
  --vm-scrubber-loading-stripe-color: var(--vm-color-gray-100);
  
  /*******************************
   * Time
   *******************************/

  --vm-time-color: var(--vm-color-gray-600);

  /*******************************
   * Menu
   *******************************/

   --vm-menu-color: var(--vm-color-gray-600);
   --vm-menu-bg: #fff;
  
   /*******************************
   * Menu Item
   *******************************/

  --vm-menu-item-focus-bg: var(--vm-color-gray-100);
  --vm-menu-item-tap-highlight: var(--vm-color-gray-100);
   
  --vm-menu-item-divider-color: var(--vm-color-gray-100);
   
  /*******************************
   * Settings
   *******************************/

  --vm-settings-scroll-thumb-color: var(--vm-color-gray-100);
}