dist/
www/
loader/

packages/*/dist/
packages/*/www/
packages/*/loader/
packages/*/cypress/videos/
packages/*/cypress/screenshots/

*~
*.sw[mnpcod]
*.log
*.lock
*-lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
coverage/
jest-coverage/
cypress-coverage/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
