dist/
build/
www/
loader/

packages/*/dist/
packages/*/www/
packages/*/loader/
packages/*/cypress/videos/
packages/*/cypress/screenshots/
packages/angular/src/components.ts
packages/angular/src/VimeModule.ts
packages/angular/src/components/
packages/react/src/components.ts
packages/react/src/components
packages/svelte/src/components.ts
packages/svelte/src/components/
packages/svelte/src/svelte/
packages/vue/src/components.ts
packages/vue/src/components/
packages/vue-next/src/components.ts
packages/vue-next/src/components/

*~
*.sw[mnpcod]
*.log
*.lock*
*-lock*
*.tmp
*.tmp.*
*.sln
*.suo
*.ntvs*
*.njsproj
log.txt
*.sublime-project
*.sublime-workspace
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/libpeerconnection.log
chrome-profiler-events*.json
speed-measure-plugin*.json
!yarn.lock

/tmp
/out-tsc
/bazel-out
/.pnp
.pnp.js
.eslintcache/
.nyc_output/
.stencil/
.idea/
.vscode/
.sass-cache/
.docusaurus/
.cache-loader/
.versions/
node_modules/
web_modules/
coverage/
jest-coverage/
cypress-coverage/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate