**/package-lock.json
**/components.d.ts

dist/
build/
www/
loader/

packages/core/icons/
packages/core/themes/

docs/docs/components

packages/angular/projects/vime/src/VimeModule.ts
packages/angular/projects/vime/src/components/
packages/react/src/components
packages/svelte/src/components/
packages/svelte/src/svelte/
packages/vue/src/components/
packages/vue-next/src/components/

chrome-profiler-events*.json
speed-measure-plugin*.json

/tmp
/out-tsc
/bazel-out
/.pnp
.pnp.js
.eslintcache/
.nyc_output/
.stencil/
.idea/
.vscode/
.sass-cache/
.docusaurus/
.cache-loader/
.versions/
node_modules/
web_modules/
coverage/
jest-coverage/
$RECYCLE.BIN/
