<div id="container">
  <vime-player 
    #player 
    playsinline
    (vPlaybackReady)="onPlaybackReady()"
  >
    <vime-video cross-origin="true" poster="https://vimejs.com/media/poster.png">
      <source data-src="https://vimejs.com/media/720p.mp4" type="video/mp4" />
      <track default kind="subtitles" src="https://vimejs.com/media/subs/english.vtt" srclang="en" label="English" />
      <track kind="subtitles" src="https://vimejs.com/media/subs/spanish.vtt" srclang="es" label="Spanish" />
    </vime-video> 

    <vime-default-ui>
      <!-- Custom UI component. -->
      <tap-sides-to-seek></tap-sides-to-seek>
    </vime-default-ui>
  </vime-player>
</div>

<style>
  :host {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #container {
    width: 100%;
    max-width: 960px;
  }
</style>


