vime-ui {
  /**
   * @prop --ui-z-index: The position in the root z-axis stack inside the player.
   */

  pointer-events: none;
  width: 100%;
  z-index: var(--ui-z-index);

  &.hidden {
    display: none;
  }

  &.video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}