vime-time {
  /**
   * @prop --time-color: The color of the text displaying the time.
   * @prop --time-font-size: The size of the font displaying the time.
   * @prop --time-font-weight: The weight of the font displaying the time.
   */

  display: inline-block;
  color: var(--time-color);
  font-size: var(--time-font-size);
  font-weight: var(--time-font-weight);
}