/* Default theme. */
@import "~@vime/core/themes/default.css";

/* Optional light theme (extends default). */
/* @import "~@vime/core/themes/light.css"; */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}