/**
  * @prop --vm-slider-thumb-bg: The background color of the slider thumb.
  * @prop --vm-slider-thumb-width: The width of the slider thumb.
  * @prop --vm-slider-thumb-height: The height of the slider thumb.
  * @prop --vm-slider-thumb-shadow: The shadow cast around the slider thumb.
  * @prop --vm-slider-track-height: The height of the track.
  * @prop --vm-slider-track-focused-height: The height of the track when it is focused.
  * @prop --vm-slider-track-color: The color of the track.
  * @prop --vm-slider-value-color: The color of the part of the track filled upto the current value.
  */
vime-slider {
  $slider-thumb-width: var(--vm-slider-thumb-width);
  $slider-thumb-height: var(--vm-slider-thumb-height);
  $slider-thumb-bg: var(--vm-slider-thumb-bg);
  $slider-thumb-border: 2px solid transparent;
  $slider-thumb-shadow: var(--vm-slider-thumb-shadow);
  
  $slider-track-height: var(--vm-slider-track-height);
  $slider-track-focused-height: var(--vm-slider-track-focused-height);
  
  $slider-track-color: var(--vm-slider-track-color);
  $slider-value-color: var(--vm-slider-value-color);
  
  @mixin slider-track() {
    background: transparent;
    border: 0;
    border-radius: calc(#{$slider-track-height} / 2);
    height: $slider-track-height;
    transition: box-shadow 0.3s ease;
    user-select: none;
  }
  
  @mixin slider-thumb() {
    opacity: 0;
    background: $slider-thumb-bg;
    border: 0;
    border-radius: 100%;
    position: relative;
    transition: all 0.2s ease;
    width: $slider-thumb-width;
    height: $slider-thumb-height;
    box-shadow: $slider-thumb-shadow;
  }

  input {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: calc(#{$slider-thumb-height} * 2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    // Color is used in JS to populate lower fill for WebKit
    color: $slider-value-color;
    display: block;
    height: $slider-track-height;
    margin: 0;
    padding: 0;
    transition: box-shadow 0.3s ease;
    width: 100%;

    &::-webkit-slider-runnable-track {
      @include slider-track();

      background-image: linear-gradient(to right, currentColor var(--vm-value, 0%), transparent var(--vm-value, 0%));
      background-color: $slider-track-color;
    }

    &::-webkit-slider-thumb {
      @include slider-thumb();
      
      -webkit-appearance: none;
      margin-top: calc(0px - calc(calc(#{$slider-thumb-height} - #{$slider-track-height}) / 2));
    }

    &::-moz-range-track {
      @include slider-track();
      background-color: $slider-track-color;
    }

    &::-moz-range-thumb {
      @include slider-thumb();
    }

    &::-moz-range-progress {
      background: currentColor;
      border-radius: calc(#{$slider-track-height} / 2);
      height: $slider-track-height;
    }

    &::-ms-track {
      @include slider-track();

      color: transparent;
      background-color: $slider-track-color;
    }

    &::-ms-fill-upper {
      @include slider-track();
    }

    &::-ms-fill-lower {
      @include slider-track();

      background: currentColor;
    }

    &::-ms-thumb {
      @include slider-thumb();

      // For some reason, Edge uses the -webkit margin above
      margin-top: 0;
    }

    &::-ms-tooltip {
      display: none;
    }

    &:hover {
      &::-webkit-slider-runnable-track {
        height: $slider-track-focused-height;
      }

      &::-moz-range-track {
        height: $slider-track-focused-height;
      }

      &::-ms-track {
        height: $slider-track-focused-height;
      }

      &::-ms-fill-upper {
        height: $slider-track-focused-height;
      }

      &::-ms-fill-lower {
        height: $slider-track-focused-height;
      }

      &::-webkit-slider-thumb {
        opacity: 1;
      }

      &::-moz-range-thumb {
        opacity: 1;
      }

      &::-ms-thumb {
        opacity: 1;
      }
    }

    &:focus {
      outline: 0;

      &::-webkit-slider-runnable-track {
        outline: 0;
        height: $slider-track-focused-height;
      }

      &::-moz-range-track {
        outline: 0;
        height: $slider-track-focused-height;
      }

      &::-ms-track {
        outline: 0;
        height: $slider-track-focused-height;
      }
    }

    &::-moz-focus-outer {
      border: 0;
    }
  }
}
