/**
  * @prop --vm-icon-color: The color of the icon.
  * @prop --vm-icon-scale: The amount to scale the size of the icon up or down by.
  * @prop --vm-icon-width: The width of the icon.
  * @prop --vm-icon-height: The height of the icon.
  */
vime-icon > svg {
  display: block;
  color: var(--vm-icon-color);
  width: var(--vm-icon-width, 18px);
  height: var(--vm-icon-height, 18px);
  transform: scale(var(--vm-icon-scale, 1));
  fill: currentColor;
  pointer-events: none;
}