/**
  * @prop --vm-control-group-spacing: The space between control groups.
  */
vime-control-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;

  &.spaceTop {
    margin-top: var(--vm-control-group-spacing);
  }
  
  &.spaceBottom {
    margin-bottom: var(--vm-control-group-spacing);
  }
  
  & > * {
    margin-left: var(--vm-controls-spacing);

    &:first-child {
      margin-left: 0;
    }
  }
}