.volumeControl {
  align-items: center;
  display: flex;
  position: relative;
  pointer-events: auto;
  box-sizing: border-box;
}

vm-slider {
  width: 75px;
  height: 100%;
  margin: 0;
  max-width: 0;
  position: relative;
  z-index: 3;
  transition: margin 0.2s cubic-bezier(0.4, 0, 1, 1),
    max-width 0.2s cubic-bezier(0.4, 0, 1, 1);
  margin-left: calc(var(--vm-control-spacing) / 2) !important;
  visibility: hidden;
}

vm-slider:hover {
  cursor: pointer;
}

vm-slider.hidden {
  display: none;
}

vm-slider.active {
  max-width: 75px;
  visibility: visible;
  margin: 0 calc(var(--vm-control-spacing) / 2);
}
