/**
 * @prop --vm-icon-fill: The icon fill color.
 * @prop --vm-icon-stroke: The icon stroke color.
 * @prop --vm-icon-transform: Transformations applied to the icon.
 * @prop --vm-icon-transition: Transitions applied to the icon.
 */
:host {
  display: inline-block;
  width: 1em;
  height: 1em;
  contain: strict;
  box-sizing: content-box !important;
}

.icon,
svg {
  display: block;
  height: 100%;
  width: 100%;
  transition: var(--vm-icon-transition);
  transform: var(--vm-icon-transform);
  fill: var(--vm-icon-fill, currentColor);
  stroke: var(--vm-icon-stroke);
}
