/**
  * @prop --vm-settings-width: The width of the settings menu.
  * @prop --vm-settings-padding: The padding inside the settings menu.
  * @prop --vm-settings-shadow: The shadow cast around the settings menu frame.
  * @prop --vm-settings-border-radius: The border radius of the settings menu.
  * @prop --vm-settings-max-height: The max height of the settings menu.
  * @prop --vm-settings-scroll-width: The width of the settings scrollbar.
  * @prop --vm-settings-scroll-thumb-color: The color of the settings scrollbar thumb.
  * @prop --vm-settings-scroll-track-color: The color of the settings scrollbar track.
  * @prop --vm-settings-transition: The CSS transitions for the settings menu.
  */
vime-settings {
  position: absolute;
  opacity: 0;
  pointer-events: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--vm-menu-bg);
  max-height: var(--vm-settings-max-height);
  border-radius: var(--vm-settings-border-radius);
  width: var(--vm-settings-width);
  padding: var(--vm-settings-padding);
  box-shadow: var(--vm-settings-shadow);
  z-index: var(--vm-menu-z-index);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--vm-settings-scroll-thumb-color) var(--vm-settings-scroll-track-color);
  transform: translateY(8px); 
  transition: var(--vm-settings-transition);

  &.hydrated {
    visibility: hidden !important;
  }

  &::-webkit-scrollbar {
    width: var(--vm-settings-scroll-width);
  }

  &::-webkit-scrollbar-track {
    background: var(--vm-settings-scroll-track-color);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--vm-settings-scroll-width);
    background-color: var(--vm-settings-scroll-thumb-color);
    border: 2px solid var(--vm-menu-bg);
  }

  &.active {
    transform: translateY(0); 
    opacity: 1;
    visibility: visible !important;
  }

  &.mobile {
    position: fixed;
    top: auto !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100%;
    min-height: 56px;
    max-height: 50%;
    border-radius: 0;
    z-index: 2147483647;
    transform: translateY(100%); 

    &.active {
      transform: translateY(0); 
    }

    vime-menu {
      height: 100% !important;
      overflow: auto !important;
    }
  }
}