vime-settings {
  /**
   * @prop --settings-width: The width of the settings menu.
   * @prop --settings-padding: The padding inside the settings menu.
   * @prop --settings-shadow: The shadow cast around the settings menu frame.
   * @prop --settings-border-radius: The border radius of the settings menu.
   * @prop --settings-max-height: The max height of the settings menu.
   * @prop --settings-scroll-width: The width of the settings scrollbar.
   * @prop --settings-scroll-thumb-color: The color of the settings scrollbar thumb.
   * @prop --settings-scroll-track-color: The color of the settings scrollbar track.
   */

  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--menu-bg);
  max-height: var(--settings-max-height);
  border-radius: var(--settings-border-radius);
  width: var(--settings-width);
  padding: var(--settings-padding);
  box-shadow: var(--settings-shadow);
  z-index: $z-index-menu;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--settings-scroll-thumb-color) var(--settings-scroll-track-color);

  &::-webkit-scrollbar {
    width: var(--settings-scroll-width);
  }

  &::-webkit-scrollbar-track {
    background: var(--settings-scroll-track-color);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--settings-scroll-width);
    background-color: var(--settings-scroll-thumb-color);
    border: 2px solid var(--menu-bg);
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.mobile {
    position: fixed;
    top: auto !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100%;
    min-height: 56px;
    max-height: 50%;
    border-radius: 0;
    z-index: 2147483647;

    vime-menu {
      height: 100% !important;
      overflow: auto !important;
    }
  }
}