/**
  * @prop --vm-controls-padding: The padding inside the controls.
  * @prop --vm-controls-bg: The background color of the controls.
  * @prop --vm-controls-spacing: The space between controls.
  * @prop --vm-controls-z-index: The position in the UI z-axis stack inside the player.
  */
vime-controls {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  pointer-events: auto;
  z-index: var(--vm-controls-z-index);
  background: var(--vm-controls-bg);
  padding: var(--vm-controls-padding);
  @include invisible();

  &.audio {
    position: relative;
  }
  
  &.hidden {
    display: none;
  }

  &.active {
    @include visible();
  }

  &.fullWidth {
    width: 100%;
  }
  
  &.fullHeight {
    height: 100%;
  }

  & > *:not(vime-control-group) {
    margin-left: var(--vm-controls-spacing);

    &:first-child {
      margin-left: 0;
    }
  }
}