/**
  * @prop --vm-tooltip-bg: The background color of the tooltip.
  * @prop --vm-tooltip-color: The text color of the tooltip.
  * @prop --vm-tooltip-box-shadow: The box shadow cast around the tooltip.
  * @prop --vm-tooltip-border-radius: The border radius of the tooltip.
  * @prop --vm-tooltip-font-size: The font size of the tooltip text.
  * @prop --vm-tooltip-padding: The padding inside the tooltip.
  * @prop --vm-tooltip-spacing: The space between the tooltip and its parent when active.
  * @prop --vm-tooltip-fade-duration: The length in seconds that the tooltip will take to fade in/out.
  * @prop --vm-tooltip-fade-timing-func: The transition timing function for fading in and out.
  * @prop --vm-tooltip-z-index: The position in the UI z-axis stack inside the player.
  */
vime-tooltip {
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.3;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  white-space: nowrap;
  visibility: hidden;
  background: var(--vm-tooltip-bg);
  border-radius: var(--vm-tooltip-border-radius);
  box-shadow: var(--vm-tooltip-box-shadow);
  color: var(--vm-tooltip-color);
  font-size: var(--vm-tooltip-font-size);
  padding: var(--vm-tooltip-padding);
  transition: opacity var(--vm-tooltip-fade-duration) var(--vm-tooltip-fade-timing-func);
  z-index: var(--vm-tooltip-z-index);

  &[aria-hidden='false'] {
    opacity: 1;
    visibility: visible;
  }

  &.hidden {
    display: none;
  }

  &.onTop {
    bottom: 100%;
    margin-bottom: var(--vm-tooltip-spacing);
  }

  &.onBottom {
    top: 100%;
    margin-top: var(--vm-tooltip-spacing);
  }

  &.growLeft {
    left: auto;
    right: 0;
    transform: none;
  }

  &.growRight {
    left: 0;
    transform: none;
  }
}