/**
  * @prop --vm-scrubber-loading-stripe-size: The size of each candystripe displayed when media is 
  * buffering.
  * @prop --vm-scrubber-loading-stripe-color: The color of each candystripe displayed when media is 
  * buffering.
  * @prop --vm-scrubber-buffered-bg: The background color of the section that indicates how much 
  * of the media has been buffered.
  */
vime-scrubber-control {
  $scrubber-loading-size: var(--vm-scrubber-loading-stripe-size);
  $scrubber-loading-color: var(--vm-scrubber-loading-stripe-color);
  $scrubber-buffered-bg: var(--vm-scrubber-buffered-bg);

  $slider-track-height: var(--vm-slider-track-height);

  // Offset the range thumb in order to be able to calculate the relative progress.
  $scrubber-offset: var(--vm-slider-thumb-width);

  @keyframes progress {
    to {
      background-position: $scrubber-loading-size 0;
    }
  }

  flex: 1;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
  left: calc(#{$scrubber-offset} / 2);
  margin-right: $scrubber-offset;
  margin-bottom: $slider-track-height;

  vime-slider,
  progress {
    margin-left: calc(0px - calc(#{$scrubber-offset} / 2));
    margin-right: calc(0px - calc(#{$scrubber-offset} / 2));
    width: calc(100% + #{$scrubber-offset});
    height: $slider-track-height;
  
    &:hover {
      cursor: pointer;
    }
  }
  
  vime-slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  
  progress {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-radius: 100px;
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0;
    color: $scrubber-buffered-bg;
    height: $slider-track-height;
  
    &::-webkit-progress-bar {
      background: transparent;
    }
  
    &::-webkit-progress-value {
      background: currentColor;
      border-radius: 100px;
      min-width: $slider-track-height;
      transition: width 0.2s ease;
    }
  
    &::-moz-progress-bar {
      background: currentColor;
      border-radius: 100px;
      min-width: $slider-track-height;
      transition: width 0.2s ease;
    }
  
    &::-ms-fill {
      border-radius: 100px;
      transition: width 0.2s ease;
    }
  
    &.loading {
      animation: progress 1s linear infinite;
      background-image: linear-gradient(-45deg,
      $scrubber-loading-color 25%,
      transparent 25%,
      transparent 50%,
      $scrubber-loading-color 50%,
      $scrubber-loading-color 75%,
      transparent 75%,
      transparent);
      background-repeat: repeat-x;
      background-size: $scrubber-loading-size $scrubber-loading-size;
      color: transparent;
      background-color: transparent;
    }
  }
}
  