vime-settings-control {
  &.hidden {
    display: none;
  }

  svg {
    transition: transform 0.3s ease;
  }

  &.active {
    svg {
      // Need `!important` to override scaling transformation applied to `svg`.
      transform: rotate(90deg) !important;
    }
  }
}