:host {
  z-index: var(--vm-media-z-index);
}

vm-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

vm-embed.hideControls {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}
