vime-menu-item {
  /**
   * @prop --menu-item-hint-font-size: The font size of the hint text.
   * @prop --menu-item-hint-color: The color of the hint text.
   * @prop --menu-item-hint-opacity: The opacity of the hint text.
   * @prop --menu-item-badge-color: The color of the badge text.
   * @prop --menu-item-badge-bg: The background color of the badge.
   * @prop --menu-item-badge-font-size: The font size of the the badge text. 
   * @prop --menu-item-arrow-color: The color of the left/right arrow on a navigational menu item.
   * @prop --menu-item-check-icon-width: The width of the checked icon.
   * @prop --menu-item-check-icon-height: The height of the checked icon.
   * @prop --menu-item-padding: The padding within each menu item.
   * @prop --menu-item-focus-color: The color of a menu item's text when it is being focused or hovered on.
   * @prop --menu-item-focus-bg: The background color of a menu item when it is being focused or hovered on.
   * @prop --menu-item-tap-highlight: The highlight color when a menu item is tapped.
   * @prop --menu-item-divider-color: The color of the divider between a navigational menu item and the menu body.
   */

  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
  color: var(--menu-color);
  background: var(--menu-bg);
  font-size: var(--menu-font-size);
  font-weight: var(--menu-font-weight);
  padding: var(--menu-item-padding);

  &:focus {
    outline: 0;
  }

  &.hidden {
    display: none;
  }

  &.tapHighlight {
    background: var(--menu-item-tap-highlight);
  }

  &.showDivider {
    border-bottom: 0.5px solid var(--menu-item-divider-color);
  }

  &.notTouch {
    &:hover,
    &:focus {
      outline: 0;
      color: var(--menu-item-focus-color);
      background-color: var(--menu-item-focus-bg);
    }
  }

  &[aria-hidden='true'] {
    display: none;
  }

  vime-icon {
    display: inline-block;
  }

  svg {
    fill: currentColor;
    pointer-events: none;
    width: var(--menu-item-check-icon-width, 10px) !important;
    height: var(--menu-item-check-icon-height, 10px) !important;
    margin-right: 10px;
    @include invisible();
  }

  &[aria-checked='true'] svg {
    @include visible();
  }

  .hint {
    display: inline-block;
    margin-left: auto;
    overflow: hidden;
    pointer-events: none;
    margin-right: 6px;
    font-size: var(--menu-item-hint-font-size);
    opacity: var(--menu-item-hint-opacity);
    color: var(--menu-item-hint-color);
  }
  
  .badge {
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    pointer-events: none;
    color: var(--menu-item-badge-color);
    background: var(--menu-item-badge-bg);
    font-size: var(--menu-item-badge-font-size);
  }

  .spacer {
    flex: 1;
  }

  .arrow {
    color: var(--menu-item-arrow-color);
    border: 2px solid;
    padding: 2px;
    display: inline-block;
    border-width: 0 2px 2px 0;
  
    &.left {
      margin-right: 6px;
      transform: rotate(135deg);
    }
  
    &.right {
      transform: rotate(-45deg);
      opacity: 0.38;
    }
  }
}
