html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  width: 100%;
  max-width: 960px
}

.media-container-16-9 {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.push-out-of-view {
  margin-top: 100vh;
  margin-bottom: 24px;
}
