vime-volume-control {
  @function slider-transition($prop) {
    @return $prop 0.2s cubic-bezier(0.4, 0, 1, 1);
  }

  align-items: center;
  display: flex;
  position: relative;
  pointer-events: auto;
  margin-left: calc(#{$control-spacing} / 2) !important;

  vime-slider {
    width: 75px;
    height: 100%;
    margin: 0;
    max-width: 0;
    position: relative;
    z-index: 3;
    transition: slider-transition(margin), slider-transition(max-width);
    margin-left: calc(#{$control-spacing} / 2) !important;
    visibility: hidden;

    &:hover {
      cursor: pointer;
    }

    &.hidden {
      display: none;
    }

    &.active {
      max-width: 75px;
      margin: 0 ($control-spacing / 2);
      visibility: visible;
    }
  }
}