/**
  * @prop --vm-live-indicator-color: The color of the live indicator dot.
  */
.liveIndicator {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: var(--vm-control-color);
}

.liveIndicator.hidden {
  display: none;
}

.indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: var(--vm-live-indicator-color, red);
}
