vime-time-progress {
  /**
   * @prop --time-color: The color of the text displaying the time.
   */

  display: flex;
  align-items: center;
  color: var(--time-color);
}

vime-time-progress > span {
  margin: 0 4px;
}