vime-player {
  /**
   * @prop --player-bg: The background color of the player, has no effect on audio players.
   * @prop --player-font-family: A custom font family to be used throughout the player.
   * @prop --player-theme: A custom theme (color) to be used throughout the player. Any valid CSS 
   * `color` property (HEX, RGBA, HLS, ...) can be used.
   * @prop --player-fade-transition: The default transition used throughout the player for fading 
   * elements in and out.
   * @prop --player-box-shadow: The shadow cast around the player frame.
   */

  --player-font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;

  box-sizing: border-box;
  direction: ltr;
  font-family: var(--player-font-family);
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: transparent;
  font-variant-numeric: tabular-nums;
  font-weight: 500;
  line-height: 1.7;
  width: 100%;
  display: block;
  max-width: 100%;
  min-width: 275px;
  position: relative;
  text-shadow: none;
  outline: 0;
  transition: box-shadow 0.3s ease;
  box-shadow: var(--player-box-shadow);

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  button {
    font: inherit;
    line-height: inherit;
    width: auto;
    margin: 0;

    &::-moz-focus-inner {
      border:0;
    }
  }

  // Fix 300ms delay
  a,
  button,
  input,
  label {
    touch-action: manipulation;
  }

  &.idle {
    cursor: none;
  }

  &.audio {
    background-color: transparent !important;
  }

  &.video {
    height: 0;
    overflow: hidden;
    background-color: var(--player-bg, #000);
  }

  &.fullscreen {
    margin: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0 !important;
  }

  & > .blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-blocker;
    display: inline-block;
  }
}
