vime-player {
  /**
   * @prop --player-bg: The background color of the player, has no effect on audio players.
   * @prop --player-font-family: A custom font family to be used throughout the player.
   * @prop --player-theme: A custom theme (color) to be used throughout the player. Any valid CSS 
   * `color` property (HEX, RGBA, HLS, ...) can be used.
   * @prop --player-fade-transition: The default transition used throughout the player for fading 
   * elements in and out.
   * @prop --player-box-shadow: The shadow cast around the player frame.
   * @prop --player-skeleton-base-color: The background color of the skeleton loading animation.
   * @prop --player-skeleton-highlight-color: The animated highlight color of the skeleton loading
   * animation.
   * @prop --player-skeleton-duration: The length of the time it takes the skeleton animation 
   * to complete one left-to-right transition.
   */

  --player-font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;

  box-sizing: border-box;
  direction: ltr;
  font-family: var(--player-font-family);
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: transparent;
  font-variant-numeric: tabular-nums;
  font-weight: 500;
  line-height: 1.7;
  width: 100%;
  display: block;
  max-width: 100%;
  min-width: 275px;
  min-height: 40px;
  position: relative;
  text-shadow: none;
  outline: 0;
  background-color: var(--player-bg);
  transition: box-shadow 0.3s ease, height 0.3s ease, padding 0.3s ease;
  box-shadow: var(--player-box-shadow);

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  button {
    font: inherit;
    line-height: inherit;
    width: auto;

    &::-moz-focus-inner {
      border:0;
    }
  }

  // Fix 300ms delay
  a,
  button,
  input,
  label {
    touch-action: manipulation;
  }

  &.idle {
    cursor: none;
  }

  &.audio {
    background-color: transparent !important;
  }

  &.video {
    height: 0;
    overflow: hidden;
  }

  &.fullscreen {
    margin: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0 !important;
  }

  & > .blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-blocker;
    display: inline-block;
  }

  & > .skeleton {
    @keyframes load {
      0% {
        background-position: -200px 0;
      }
      100% {
        background-position: calc(200px + 100%) 0;
      }
    }

    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-ui;
    background-color: var(--player-skeleton-base-color);
    background-image: linear-gradient(
      90deg, 
      var(--player-skeleton-base-color), 
      var(--player-skeleton-highlight-color), 
      var(--player-skeleton-base-color)
    );
    background-size: 200px 100%;
    background-repeat: no-repeat;
    line-height: 1;
    pointer-events: none;
    animation: load var(--player-skeleton-duration) ease-in-out infinite; 
    @include invisible();

    &.active {
      @include visible();
    }
  }
}
