  vime-captions {
    /**
    * @prop --captions-text-color: The color of the captions text.
    * @prop --captions-font-size: Font size of captions when device screen size is <768px.
    * @prop --captions-font-size-medium: Font size of captions when device screen size is >768px.
    * @prop --captions-font-size-large: Font size of captions when device screen size is >992px.
    * @prop --captions-font-size-xlarge: Font size of captions when device screen size is >1200px.
    * @prop --captions-cue-bg-color: The background color of active cues.
    * @prop --captions-cue-border-radius: The border radius of active cues.
    * @prop --captions-cue-padding: The padding around active cues.
    */

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--captions-text-color,#fff);
    font-size: var(--captions-font-size, 14px);
    padding: $control-spacing;
    z-index: $z-index-captions;
    display: none;
    pointer-events: none;
    transition: transform 0.4s ease-in-out;

    &.enabled {
      display: inline-block;
    }

    &.hidden {
      display: none !important;
    }
    
    @media (min-width: $bp-md) {
      font-size: var(--captions-font-size-medium, 18px);
    }
      
    @media (min-width: $bp-lg) {
      font-size: var(--captions-font-size-large, 20px);
    }
    
    @media (min-width: $bp-xl) {
      font-size: var(--captions-font-size-xlarge, 22px);
    }
  
    & > span {
      display: inline-block;
      background: var(--captions-cue-bg-color, $color-gray-600);
      border-radius: var(--captions-cue-border-radius, 2px);
      box-decoration-break: clone;
      line-height: 185%;
      padding: var(--captions-cue-padding, 0.2em 0.5em);
      white-space: pre-wrap;
      pointer-events: none;
      
      // Firefox adds a <div> when using getCueAsHTML().
      :global(div) {
        display: inline;
      }
      
      &:empty {
        display: none;
      }
    }
  }
  