/* Default theme. */
@import "../../../node_modules/@vime/core/themes/default.css";

/* Optional light theme (extends default). */
/* @import "../../../node_modules/@vime/core/themes/light.css"; */

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 960px;
}
